doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Coffee Orders
  link(rel='stylesheet' href='/css/all_orders.css')
.navbar
  p
    | This web application was created to fulfill Web Technology module's requirements and does not represent an actual company or service
  button#newOrderBtn 
    a(href="/order-coffee") Order coffee
.container
  h1 Coffee Orders
  table
    thead
      tr
        th User Name
        th Phone Number
        th Coffee Type
        th Quantity
        th Actions
    tbody
      each order in orders
        tr
          td #{order.order.userName}
          td #{order.order.phoneNumber}
          td #{order.order.coffeeType}
          td #{order.order.quantity}
          td
            a(href=`/order-update/${order.id}` style="margin-right:15px; color: #205B34; font-weight: bold;") Edit
            a(href=`/order-delete${order.id}` style="color: #922724; font-weight: bold;") Delete
